/* src/index.css */

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #ee82ee !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
}

.cont-app {
  border: 2px solid black;
  width: 640px;
  margin: 0 auto;
  height: 270px;
  background-color: #b0e0e6;
  margin-top: 200px;
  border-radius: 10px;
}
.inf-txt {
  padding-left: 20px;
}
